.container
  .cub
    .head-wrapper
      .hair
        span
        span
        span
      .ears
        .ear.left
          .ear-inner
        .ear.right
          .ear-inner
      .head
        .eyes
          .eye.left
            .eye-inner
          .eye.right
            .eye-inner
        .nose
        .mouth
          .tongue
    .paws
      .paw.paw-left
        span
        span
        span
      .paw.paw-right
        span
        span
        span
      
    